body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url('/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    position: fixed;
    top: 0;
    left: 0;
}

.background-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.form-container {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    margin-top: 50px;
}
  
.password-container {
    position: relative;
}
   
.eye-icon {
    position: absolute;
    right: 5px;
    top: 30%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #FFF;
    font-size: 20px;
    cursor: pointer;
    width: auto;
}
  
.logo {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}
  
.form-title {
    color: #FFF;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}
  
label {
    color: #FFF;
    font-size: 14px;
}
  
input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #FFF;
    border-radius: 5px;
    background-color: #2C3E50;
    color: #FFF;
}
  
input::placeholder {
    color: #FFF;
}
  
button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
  
.submit-button {
    background-color: #FFF;
    color: #000;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
}
  
.back-button {
    background-color: #2C3E50;
    color: #FFF;
    border: 1px solid #FFF;
}
  
button:hover {
    opacity: 0.9;
}
  
.error-message {
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}